# This will be what files we need to ignore while commiting to the repo on github!

# TODO Make .gitignore file structure

# ignore all files starting with . or ~
.*
~*

# Ignore a vscode setting file
.vscode

# ignore log files and databases
*.log
*.sql
*.sqlite