# This will be what files we need to ignore while commiting to the repo on github!

# Ignore a vscode setting file
.vscode
*.settings.json

# Ignore a log files and databases
*.log
*.sql
*.sqlite

# Ignore files starting with . or ~
.*
~*

# Ignore configuration files
*.config
